<#@ template debug="false" hostspecific="true" language="C#" #>
<#@ output extension=".cs" #>
<#@ include file="ET4W\ET4W.ttinclude" #>
<# WriteEventSource(Host.ResolvePath("events.json"), "NugetTests"); #>