<#@ template debug="false" hostspecific="true" language="C#" #>
<#@ output extension=".cs" #>
<#@ include file="..\..\ET4W.ttinclude" #>
<# WriteEventSource(Host.ResolvePath("minimalEvents.json"), "MicrosoftDiagnosticsTracingTests.Events", useMicrosoftDiagnosticsTracing: true, baseTypeFullyQualifiedName: "Tests.MicrosoftDiagnosticsTracingEventSourceBase"); #>