<#@ template debug="false" hostspecific="true" language="C#" #>
<#@ output extension=".cs" #>
<#@ include file="..\..\ET4W.ttinclude" #>
<# WriteEventSource(Host.ResolvePath("variedEvents.json"), "Tests.Events"); #>